body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2{
    text-align: center;
    background-color: yellow;
}

p {
    text-align: left;
    font-size: 22px;
}

ul, li {
    font-size: 22px;
}